In [1]:
eng = {'break':'깨어지다', 'bring':'가져오다', 'brush':'붓'}
print(eng['break'])

깨어지다

In [2]:
menu = {'김밥':2500, '참치김밥':3500, '라면':3000, '치즈라면':4000}
menu['참치김밥'] = 3000
menu['돈까스'] = 6000
print(menu)
eat = input('어떤 메뉴를 드시겠습니까?')
print(menu[eat], '원입니다.')

{'김밥': 2500, '참치김밥': 3000, '라면': 3000, '치즈라면': 4000, '돈까스': 6000}
어떤 메뉴를 드시겠습니까?돈까스
6000 원입니다.

In [5]:
print('우리분식집의 신메뉴를 모집합니다!!')
menu = {'돈까스':3400, '국밥':4000, '떡볶이':3400}
name=input('메뉴 이름은? :')
price=int(input('메뉴의 가격은? :'))
menu[name]=price
print(menu)

우리분식집의 신메뉴를 모집합니다!!
메뉴 이름은? :라면
메뉴의 가격은? :3400
{'돈까스': 3400, '국밥': 4000, '떡볶이': 3400, '라면': 3400}

In [6]:
menu = {'돈까스':3400, '국밥':4000, '떡볶이':3400}
del menu['국밥']
print(menu)

{'돈까스': 3400, '떡볶이': 3400}

In [6]:
menu = {'돈까스':3400, '국밥':4000, '떡볶이':3400}
del menu['국밥']
menu['콩나물밥']=3500
menu['김치찌개']=5000
print(menu)

{'돈까스': 3400, '떡볶이': 3400, '콩나물밥': 3500, '김치찌개': 5000}

In [16]:
menu = {'돈까스':3400, '국밥':4000, '떡볶이':3400}
print(list(menu.keys()))
print(list(menu.values()))
print(list(menu.items()))

['돈까스', '국밥', '떡볶이']
[3400, 4000, 3400]
[('돈까스', 3400), ('국밥', 4000), ('떡볶이', 3400)]

In [31]:
mart = {'과자':1500, '아이스크림':1700, '휴지':4800, '고기':10500, '우유':2600}
print(sorted(mart.values())[:2])
print(sorted(mart.values(), reverse=True)[:2])

[1500, 1700]
[10500, 4800]

In [33]:
mart = {'과자':1500, '아이스크림':1700, '휴지':4800, '고기':10500, '우유':2600}
print(sorted(mart.items()))

[('고기', 10500), ('과자', 1500), ('아이스크림', 1700), ('우유', 2600), ('휴지', 4800)]

In [37]:
import operator

mart = {'과자':1500, '아이스크림':1700, '휴지':4800, '고기':10500, '우유':2600}
print(sorted(mart.items(), key=operator.itemgetter(1))[:2])

[('과자', 1500), ('아이스크림', 1700)]

In [43]:
import operator

mart = {'과자':1500, '아이스크림':1700, '휴지':4800, '고기':10500, '우유':2600}
mart = dict(sorted(mart.items()))
print(mart)

{'고기': 10500, '과자': 1500, '아이스크림': 1700, '우유': 2600, '휴지': 4800}

In [5]:
import operator

mart = {'과자':1500, '아이스크림':1700, '휴지':4000, '고기':10500, '우유':2600}
print((sorted(mart.items(), key=operator.itemgetter(1))[:3]))

[('과자', 1500), ('아이스크림', 1700), ('우유', 2600)]

In [46]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
k = input('학생이름만 입력해주세요.')
if k in midterm:
    print('학생의 점수는',midterm[k],'입니다.')
else:
    print('해당 학생은 리스트에 없습니다!')

학생이름만 입력해주세요.하윤
학생의 점수는 82 입니다.

In [49]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
k = input('학생이름만 입력해주세요.')
if k in midterm.keys():
    print('학생의 점수는',midterm[k],'점 입니다.')
else:
    print('해당 학생은 리스트에 없습니다!')

학생이름만 입력해주세요.하윤
학생의 점수는 82 점 입니다.

In [51]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for k in midterm.keys():
    print(k, end=' ')
for v in midterm.values():
    print(v, end=' ')

도윤 하윤 시우 지유 주원 43 82 76 61 94

In [4]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
student = input('학생의 이름만 입력해주세요.')
if student in midterm.keys():
    print('학생의 점수 :',midterm[student])
else:
    print('학생이 존재하지 않습니다.')

학생의 이름만 입력해주세요.하윤
학생의 점수 : 82

In [9]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for k in midterm.keys():
    print(k, midterm[k])

도윤 43
하윤 82
시우 76
지유 61
주원 94

In [11]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for i in midterm.items():
    print(i, end=' ')

('도윤', 43) ('하윤', 82) ('시우', 76) ('지유', 61) ('주원', 94)

In [15]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for k, v in midterm.items():
    print(k, v, end=' ')

도윤 43 하윤 82 시우 76 지유 61 주원 94

In [17]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for k in midterm.keys():
    if midterm[k] >= 70 :
        print('학생의 이름,점수 :', k, midterm[k])

학생의 이름,점수 : 하윤 82
학생의 이름,점수 : 시우 76
학생의 이름,점수 : 주원 94

In [18]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
print('점수가 70점 이상인 학생을 모두 출력합니다.')
for k, v in midterm.items():
    if v>=70 :
        print(k,v)

점수가 70점 이상인 학생을 모두 출력합니다.
하윤 82
시우 76
주원 94

In [19]:
midterm = {'도윤':43, '하윤':82, '시우':76, '지유':61, '주원':94}
for m in midterm:
    print(m)

도윤
하윤
시우
지유
주원

In [ ]:
alibaba = "in a town of persia lived two brothers , sons of a poor man , one named cassim , the other alibaba . cassim , the elder , married a wife with a considerable fortune , and lived at his ease , but the wife of alibaba was as poor as himself . they dwelt in a mean cottage in the suburbs , and he maintained his family by cutting wood . alibaba was in the forest preparing to load his asses with the faggots he had cut , when he saw a troop of horsemen approaching . he hastily climbed a large thick tree , and hid himself among the branches . alibaba counted forty of them , each took a loaded portmanteau from his horse , and turning to the rock , said , open , sesame immediately a door opened , the robbers passed in , when the door shut of itself . in a short time the door opened again , and the robbers came out , who said , shut , sesame . the door instantly closed . alibaba ventured down , and approaching the rock , said , open , sesame . immediately the door flew open . he brought his asses , and took as many bags of gold coin as they could carry . alibaba told his brother the secret of the cave . cassim rose early next morning , and set out with ten mules loaded with great chests . he found the rock , and having said , open sesame , gained admission , where he found more treasures than he expected , which made him forget the word that caused the door to open . presently he heard the sound of horses feet , which he concluded to be the robbers , who instantly put him to death . alibaba drove to the forest , and on entering the cave , he found the body of his brother cut into quarters . he took the quarters , and put them upon one of his asses , and delivered the body to cassim wife . morgiana , a female slave in his brother house , was sent early next morning to a poor cobbler , and gave him two pieces of gold to go with her blindfolded , taking him into the room where the body was lying , bade him sew the mangled limbs together . mustapha obeyed , having received two pieces of gold , and was led blindfolded the same way back . cassim was buried with all due solemnity , and alibaba removed to the house of his deceased brother , of which he took possession . the captain of the troop resolved to find out who possessed the secret of entrance into his cave , and disguising himself , went to the city early one morning , when , accosting the cobbler , he was told of the job he had , who for six pieces of gold , allowed himself to be blindfolded , and traced out the house of cassim , which the robber marked with chalk . buying nineteen mules and thirty-nine large jars , one full of oil , and the rest empty , the captain put a man into each jar , properly armed , and then proceeded to the street where alibaba dwelt . sir , said he , i have brought this oil a great way to sell , as i am quite a stranger , will you let me put my mules into your courtyard , and direct me where i may lodge to-night ? alibaba welcomed the pretended oil merchant , offered him a bed in his own house , and invited his guest in to supper . morgiana , sitting up later that night than usual , her lamp went out . she took her oil pot in her hand , and approaching the first jar , the robber within said is it time , captain ? she replied , no , not yet . so she ran back to the kitchen , and brought out a large kettle , which she filled with oil , set it on a great wood fire , and as soon as it boiled , she went and poured into the jars sufficient of the boiling oil to kill every man within . the captain of the robbers arose to assemble his men . coming to the first jar , he felt the steam of the boiled oil ! he ran hastily to the rest , and found every one of his troop put to death . full of rage , he forced the lock of the door , and made his escape over the walls . without letting any one into the secret , alibaba and morgiana the next night buried the thirty-nine thieves at the bottom of the garden . the captain at length , however , determined to adopt a new scheme for the destruction of alibaba . he removed all the valuable merchandise from the cave to the city , and took a shop exactly opposite to alibaba house . alibaba son went every day to his shop . the pretended cogia hassan soon appeared to be very fond of alibaba son , offered him many presents , and often detained him to dinner . alibaba thought it was necessary to make some return to these civilities , and he invited cogia hassan to supper , morgiana carried in the first dish herself . the moment she looked at cogia hassan , she knew it was the pretended oil merchant . she sent the other slaves into the kitchen , and waited at table herself , and while cogia hassan was drinking , she perceived he had a dagger hid under his coat . she went away , and dressed herself in the habit of a dancing-girl . as soon as she appeared at the parlor door , her master ordered her to come in to entertain his guest with some of her best dancing . morgiana danced several times before the assembled company , until , coming opposite cogia hassan , she drew a dagger from her girdle and plunged it into the robber heart . as a reward for her faithfulness , alibaba gave her in marriage to his son , and at his death put them in possession of his immense wealth .
"
vocab = {}

word_list = alibaba.split()
for w in word_list:
    if w not in vocab:
        vocab[w]=1
    else:
        vocab[w]+=1
print(vocab)

import operator

print(sorted(vocab.items(), key=operator.itemgetter(1), reverse=True))

In [ ]:
meaningless = ['.', ',', '!', '?', 'the', 'he', 'and', 'to', 'a', 'of', 
               'was', 'in', 'had', 'for', 'it', 'that', 'but', 'as', 'with', 
               'at', 'i', 'into', 'be', 'this', 'me', 'from', 'then', 'him', 
               'his', 'her', 'she','they', 'them', 'you']
for word in meaningless:
    del vocab[word]

# 7장 Self Check

In [2]:
day = {'월요일':'Mon','화요일':'Tue','수요일':'Wed','목요일':'Thu','금요일':'Fri'}
day['토요일']='Sat'
day['일요일']='Sun'
print(day)

day['일요일']='SUN'
del day['수요일']
print(day)

{'월요일': 'Mon', '화요일': 'Tue', '수요일': 'Wed', '목요일': 'Thu', '금요일': 'Fri', '토요일': 'Sat', '일요일': 'Sun'}
{'월요일': 'Mon', '화요일': 'Tue', '목요일': 'Thu', '금요일': 'Fri', '토요일': 'Sat', '일요일': 'SUN'}

In [ ]:
book = {'역사대모험':20000,
       '영단어':9000,
       '파이썬':17000,
       '여행에세이':22000,
       '삼국지':33000
       }

for i in book:
    if book.values()<=15000:
        book.values()*0.1
    
    else:
        book.values()*0.05